#title {
    margin-bottom: 0px;
}

article {
    border-right-style: solid;
}

search {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: -1000px;
}

a#hn {
    font-weight: bold;
    color: black;
    background-color: orange;
    padding: 1px;
    padding-left: 4px;
    padding-right: 4px;
}

a#hn:hover {
    text-decoration: underline;
    font-weight: normal;
}

input {
    padding: 1px;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

input[type=checkbox] {width:20px; height:20px;padding: 0px;}

footer#virgin-footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    right: 0px;
    padding-bottom: 20px;
}

footer#veteran-footer {
    margin-top: 50px;
}

#egolink {
    font-size: 20px;
}

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
   }

input[type=button] {
   display: inline-block;
   outline: 0;
   cursor: pointer;
   padding: 5px 16px;
   font-size: 14px;
   font-weight: 500;
   line-height: 20px;
   vertical-align: middle;
   border: 1px solid;
   border-radius: 6px;
   color: #0366d6;
   background-color: #fafbfc;
   border-color: #1b1f2326;
   box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
   transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
   transition-property: color, background-color, border-color;
   margin-right: 10px;
}

input[type=button]:hover {
    color: #ffffff;
    background-color: #0366d6;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.1) 0px 1px 0px 0px, rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
    transition-duration: 0.1s;
}

input[type=button]:active {
    color: white;
    background-color: black;
    border-color: red;
    box-shadow: rgba(14, 30, 46, 0.1) 0px 1px 0px 0px, rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
    transition-duration: 0.1s;
    font-size: 18px;
}

